@import "helpers/borders";
@import "helpers/classes";
@import "helpers/colors";
@import "helpers/mixins";

@import "components/blocks";
@import "components/buttons";
@import "components/containers";
@import "components/dropdowns";
@import "components/footer";
@import "components/maps";
@import "components/navbar";
@import "components/sankey";
@import "components/sections";
@import "components/sliders";
@import "components/tabs";
@import "components/tables";
@import "components/text";
@import "components/tooltips";

@import "pages/home";

body {
  font-family: "Open Sans", sans-serif;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    color: $black;
  }
  p {
    max-width: 600px;
    font-size: 16px;
    &.justified {
      text-align: justify;
    }
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
#page-content {
  min-height: 100px;
}
.navbar {
  margin-bottom: 0;
}

.citation {
  font-style: italic;
  margin-left: 40px;
  max-width: 560px;
}
