@import 'helpers/borders';
@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';

@import 'components/blocks';
@import 'components/buttons';
@import 'components/containers';
@import 'components/dropdowns';
@import 'components/footer';
@import 'components/maps';
@import 'components/navbar';
@import 'components/sankey';
@import 'components/sections';
@import 'components/sliders';
@import 'components/tabs';
@import 'components/tables';
@import 'components/text';
@import 'components/tooltips';

@import 'pages/home';


body { font-family: 'Open Sans', sans-serif; }
#page-content {
	min-height: 100px;
}
.navbar {
	margin-bottom: 0;
}
.home-container {
	border-left: $light-border;
	border-right: $light-border;
	text-align: left;
	width: 100%;
	max-width: 1150px;
	padding: 10px 50px 20px;
}
.description {
	display: inline-block;
	text-align: left;
	max-width: 800px;
	margin-top: 15px;
}
.figure-container {
	position: relative;
	margin: 30px 0;
	padding-bottom: 20px;
	border: $border;
	text-align: center;
	background: url('../img/space.jpg');
	@include gradient(#fff, #e0e0e0);
}
.figure-container-veil {
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	/*@include gradient(rgba(255,255,255,0.02), rgba(255,255,255,0.15));*/
	z-index: 100;
}
.network-map {
	position: relative;
	z-index: 1000;
}
.filters-container {
	position: relative;
	padding: 15px 10px 20px;
	border-bottom: $border;
	background-color: #f0f0f0;
	z-index: 10000;
}
.dropdown-row {
	text-align: left;
}
.dropdown-row:nth-child(n+2) {
	margin-top: 20px;
}
.dropdown-box {
	text-align: left;
	width: 200px;
}


/* --- Chart Stuff --- */
.node {
	fill: steelblue;
}
.node.node--root {
	fill: none;
}
.link {
	display: none;
  stroke: #555;
  stroke-width: 1px;
}
.arc {
	stroke: rgba(255,255,255,0.5);
	@include opacity(0.9);
	&:hover {
		stroke: rgba(255,255,255,1);
		@include opacity(1);
	}
}
.ribbon {
	@include opacity(0.3);

	&:hover,
	&.active {
		@include opacity(0.5);
	}
}
.tooltipster-content {
	font-size: 1em !important;
}
.tooltip-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 10px;
}
.tooltip-line {
	margin: 2px 0 0 15px;
}
.arc-label {
	text-anchor: middle;
	font-weight: 600;
	font-size: 1.2em;
	/*fill: white;*/
}
.legend-text {
	text-anchor: middle;
	font-weight: 600;
	font-size: 1.1em;
}
.no-scenario-text {
	display: none;
	font-size: 1.3em;
	font-style: italic;
}