@import 'helpers/borders';
@import 'helpers/classes';
@import 'helpers/colors';
@import 'helpers/mixins';

@import 'components/blocks';
@import 'components/buttons';
@import 'components/containers';
@import 'components/dropdowns';
@import 'components/footer';
@import 'components/maps';
@import 'components/navbar';
@import 'components/sankey';
@import 'components/sections';
@import 'components/sliders';
@import 'components/tabs';
@import 'components/tables';
@import 'components/text';
@import 'components/tooltips';

@import 'pages/home';


body { font-family: 'Open Sans', sans-serif; }
#page-content {
	margin-top: 51px;
	min-height: 100px;
}
.network-map {
	margin: 20px 0;
	border: $border;
	text-align: center;
}
.node {
	fill: steelblue;
	@include opacity(0.8);

	&:hover {
		@include opacity(1);
	}
}
.node.node--root {
	fill: none;
}
.link {
	display: none;
  stroke: #555;
  stroke-width: 1px;
}
.arc {
	@include opacity(0.9);
	&:hover {
		stroke: rgba(0,0,0,0.5);
		@include opacity(1);
	}
}
.ribbon {
	@include opacity(0.2);

	&:hover,
	&.active {
		@include opacity(0.9);
	}
}
.tooltipster-content {
	font-size: 1em !important;
}
.tooltip-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 10px;
}
.tooltip-line {
	margin: 2px 0 0 15px;
}