.home-background {
	width: 100%;
	background-image: url('../img/boulder.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 60%;
	background-size: cover;
}
.home-container {
	border-left: $light-border;
	border-right: $light-border;
	text-align: left;
	width: 100%;
	max-width: 1150px;
	padding: 10px 50px 20px;
	img {
		position: relative;
		top: -1px;
		width: 10px;
		height: 8px;
		margin: 0 10px;
	}
}


/* --- Text Part --- */
.text-container {
	display: inline-block;
	text-align: left;
}
.description {
	margin-top: 15px;
	p { margin-top: 15px; }
}
.extra-description {
	display: none;
}
.show-more-description-button {
	margin: 20px -10px 0;
	padding: 1px 0;
	border: $light-border;
	background-color: #f9f9f9;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: #f0f0f0;
	}
}


/* --- Figure Part --- */
.figure-container {
	position: relative;
	margin: 20px 0;
	border: $border;
	text-align: center;
}
.figure-content {
	position: relative;
	padding-bottom: 20px;
	@include gradient(#fff, #e0e0e0);

	.network-map {
		position: relative;
		z-index: 1000;
	}
	.shuffle-button {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10000;
	}
	.reset-button {
		position: absolute;
		top: 61px;
		right: 20px;
		z-index: 10000;
	}
}
.filters-container {
	position: relative;
	padding: 15px 10px 0;
	border-top: $border;
	z-index: 10000;
	@include gradient(#f0f0f0, #e0e0e0);

	.dropdown-row:nth-child(n+2) {
		margin-top: 20px;
	}
	.dropdown-row.extra-dropdown-row {
		display: none;
		margin-top: 10px;
		padding-bottom: 20px;
	}
	.dropdown-box {
		text-align: center;
		width: 200px;
	}
	.show-more-filters-button {
		margin: 20px -10px 0;
		padding: 1px 0;
		border-top: $light-border;
		background-color: #f9f9f9;
		cursor: pointer;

		&:hover {
			background-color: #f0f0f0;
		}
	}
}


/* --- Chart Stuff --- */
.node {
	fill: steelblue;
}
.node.node--root {
	fill: none;
}
.link {
	display: none;
  stroke: #555;
  stroke-width: 1px;
}
.arc {
	stroke: rgba(255,255,255,0.5);
	@include opacity(0.9);
	&:hover {
		stroke: rgba(255,255,255,1);
		@include opacity(1);
	}
}
.ribbon {
	@include opacity(0.3);

	&:hover,
	&.active {
		@include opacity(0.5);
	}
}
.tooltipster-content {
	font-size: 1em !important;
}
.tooltip-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 10px;
}
.tooltip-line {
	margin: 2px 0 0 15px;
}
.arc-label {
	text-anchor: middle;
	font-weight: 600;
	font-size: 1.2em;
	/*fill: white;*/
}
.legend-text {
	text-anchor: middle;
	font-weight: 600;
	font-size: 1.1em;
}
.no-scenario-text {
	display: none;
	font-size: 1.3em;
	font-style: italic;
}
.disclaimer {
	font-size: 1.1em;
	font-style: italic;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
}
.network-map-legend circle {
	@include opacity(0.8);
}